<%- include('header') %>
<html>
  <body
    class="container bg-secondary ms-2 justify-content-center align-items-center"
    style="height: 900px"
  >
    <% if (errormsg !="") { %>
    <div class="col-12">
      <div class="alert alert-danger" role="alert"><%= errormsg %></div>
    </div>
    <% } %>
    <div class="row">
      <div class="col justify-content-center">
        <h2 class="row">Create account</h2>
        <form action="/register" method="POST">
          <h5 class="row mt-4">Username</h5>
          <input
            class="row mb-2"
            type="text"
            name="username"
            minlength="8"
            required
          />
          <h5 class="row">Password</h5>
          <input
            class="row mb-2"
            type="password"
            name="password1"
            minlength="6"
            required
          />
          <h5 class="row">Confirm password</h5>
          <input
            class="row mb-2"
            type="password"
            name="password2"
            minlength="6"
            required
          />
          <input class="row mt-2" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
<%- include ('footer') %>
